@model CrudCharts.Models.Acesso

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Acesso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CdFilial" class="control-label"></label>
                <input asp-for="CdFilial" class="form-control" />
                <span asp-validation-for="CdFilial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmLogin" class="control-label"></label>
                <input asp-for="NmLogin" class="form-control" />
                <span asp-validation-for="NmLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmPrograma" class="control-label"></label>
                <input asp-for="NmPrograma" class="form-control" />
                <span asp-validation-for="NmPrograma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
